@use '../../index';

.LockScreen {
  @include index.fullScreen;
  position: absolute;
  top: 0;
  left: 0;
  transition: top .5s ease-out;
}

.LockScreenHidden {
  top: -100%;
}

.currentTime {
  @include index.fontFamily('light');

  position: absolute;
  left: 64px;
  bottom: 100px;
  color: white;

  p.title {
    font-size: 120px;
    margin-bottom: -16px;
  }

  p.subtitle {
    font-size: 64px;
  }
}
