$defaultFont: 'Segoe UI', 'Open Sans';

@mixin reset {
  margin: 0;
  padding: 0;
}

@mixin fullScreen {
  height: 100%;
  width: 100%;
}

@mixin fontFamily($type: 'regular') {

  font-family: $defaultFont;
  
  @if $type == 'light' {
    font-family: 'Segoe UI Light', 'Open Sans Light';
  }
}

@mixin bgOverlay {
  content: "";
  background: rgba(0,0,0,.6);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
}

@mixin compatibility($selector, $prop, $value) {
  ::-webkit-#{$selector} {
    $prop: $value;
  }
  ::-ms-#{$selector} {
    $prop: $value;
  }
  ::-moz-#{$selector} {
    $prop: $value;
  }
  #{$selector} {
    $prop: $value;
  }
}