$defaultFont: 'Segoe UI', 'Open Sans';
$defaultFontSize: 16px;

$taskBarBg: #091418;
$taskBarFg: white;
$taskBarHoverBg: #122830f3;

$titleBarHeight: 40px;
$titleBarBg: white;

$itemHoverBg: #d5ecfc;
$itemFocusBg: #cce8fe;
$itemBorderColor: #8ecbfa;
$menuBarBorder: #f1f1f1;
