@use '../../index';

.LoginScreen {
  @include index.fullScreen;
}

.LoginScreen::after {
  @include index.bgOverlay;
}

.PseudoLoginScreen {
  @include index.fullScreen;

  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex: 1;

  > * {
    margin: auto;
  }
}

.login-form {

  $formWidth: 208px;
  $pfpBg: rgba(188,188,188,0.5);
  @include index.fontFamily('light');

  display: flex;
  flex-direction: column;
  align-items: center;

  .login-pfp {
    height: $formWidth;
    width: $formWidth;
    border-radius: 50%;
    background: $pfpBg;
    font-size: 160px;
    text-align: center;
    color: white;

    > * {
      margin: auto;
    }
  }

  .login-username {
    color: white;
    font-size: 48px;
    margin-top: 16px;
  }

  .login-fields {

    $inputBg: rgba(14, 20, 32, 0.5);
    margin-top: 24px;

    input {
      background: $inputBg;
      width: 320px;
      font-size: 18px;
      padding: 8px 8px;
      outline: none;
      border: 2px solid white;
      color: white;
    }

    .login-fields-username > input {
      margin-bottom: 16px;
    }

    input:focus, input:valid {
      background: white;
      color: black;
      border: 1px solid white;
    }

    .login-fields-password {
      position: relative;

      .login-fields-password-arrow {
        position: absolute;
        right: 2px;
        top: 1px;
        bottom: 1px;
        width: 36px;
        display: flex;
        flex: 1;
        background: rgb(128,128,128);

        > * {
          margin: auto;
          fill: white;
        }
      }
    }
  }

}